.form-field{margin: 3px 3px;}
.form-field>input{width: 100%;}
.inline.form-field>label, .inline.form-field>div{
    display: inline-block;
    vertical-align: middle;
    width: auto;
}
.inline.form-field>label{width: 100px;}